.container {
  background-image: url("./images/IMG-20240512-WA0001.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
