.wave-animation {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: url('/exam/wave.svg') repeat-x;
  animation: wave 10s linear infinite alternate;
  z-index: -1;
}

.pagination-btn {
  width: 36px;
  height: 36px;
}

@keyframes wave {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 1000px;
  }
}
